<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderLust</title>
</head>
<body>
<h3>Create A New Listing</h3>
<form method="POST" action="/listings">
  <input name="listing[title]" placeholder="Enter title" type="text" required />
  <br /><br />
  <textarea name="listing[description]" placeholder="Enter description"></textarea>
  <br /><br />
  <input name="listing[image][filename]" placeholder="Image filename" type="text" required />
  <br><br>
  <input name="listing[image][url]" placeholder="Image URL" type="text" required />
  <br /><br />
  <input name="listing[price]" placeholder="Enter price" type="number" />
  <br /><br />
  <input name="listing[country]" placeholder="Enter country name" type="text" />
  <br /><br />
  <input name="listing[location]" placeholder="Enter location name" type="text" />
  <br /><br />
  <button type="submit">Add</button>
</form>
</body>
</html>